*{
    margin: 0;
}
html{
    font-size: 100%;
}
body{
    background-image: url("img/portfolio.jpg");
    /* overflow: hidden; */
    /* background-repeat: repeat; */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    font-size: 20px;
    /* height: fit-content; */
    text-align: center;
    padding: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#About_Me{
    background-color: rgba(238, 181, 25, 0.308);
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 60px;
    margin-left: 0px;
    text-align: center;
    color: rgb(0, 99, 165);
    border-radius: 10px;
    /* display: flex;
    flex-wrap: wrap; */
}
#dev{
    overflow: hidden;
    /* color: crimson; */
    border-right: 2px blue solid;
    padding-right: 2px;
    margin: 0 auto;
    width: fit-content;
    white-space: nowrap;
    animation:
     blink .5s step-end infinite ;
}
#contact1>a{
    text-decoration-line: none;
    color: rgb(12, 211, 211);
    text-shadow: 1px 1px blue;
}
@keyframes blink {
   from ,to{border-color: transparent;}
   50%{border-color: rgb(70, 91, 214);}
}
#skills{
    background-color: rgba(24, 159, 212, 0.356);
    padding: 20px;
    padding-top: 35px;
    padding-bottom: 30px;
    border-radius: 15px;
    /* width: 700px; */
    /* margin-left: 100px; */
}
#language{
    /* display: flex; */
     flex-wrap: wrap;
}
.border:hover{
background-color: rgba(184, 152, 11, 0.568);
/* font-size: 22px; */
}
#java:hover{
    background-color: rgba(245, 243, 132, 0.651);
    /* font-size: 22px; */
}
#node:hover ,#c:hover{
    background-color: rgba(149, 226, 250, 0.651);
}
.border{
    margin: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 2px 2px rgba(214, 194, 107, 0.904);
    height: fit-content;
    padding: 10px;
    width: fit-content;
}
b{
    color: rgb(209, 27, 27);
}
.left{
    display: flex;
}
h1{
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   color: rgb(240, 140, 9);
}
header{
    color: rgb(218, 9, 9);
    font-size: 30px;
    font-weight: 600;
    /* width: fit-content; */
    border-radius: 1px;
    padding: 1px;
    box-shadow: 0px 2px 0px 0px rgb(224, 116, 39);    
    /* margin-bottom: 5px; */
    
}
#profile{
    height: 150px;
    width: 140px;
    border-radius: 50%;
    float: left;
    margin-top:20px;
    margin-left: 80px;
    clear: right;
}
#open, .op{
    border-radius: 20px;
    padding: 12px;
    background-color: rgba(134, 215, 247, 0.486);
    /* position: absolute; */
    text-align: right;
    left: 25%;
    color: crimson;
    top: 40%;
    font-size: 20px;
    margin: auto;
    font-family:monospace;
}
#K{
    animation: appear 4s ease-in 0s ;
    color: rgb(0, 119, 255);
}
#quote{
    animation: dis 1s ease-in 0s;
}
#contact1{
    float:left;
    height: 190px;
}
@keyframes dis {
    0%{
        opacity: 0%;
    }
    50%{
        letter-spacing: 1px;
        opacity: 30%;
    }
    100%{
        opacity: 100%;
        /* animation-fill-mode: backwards; */
    }
}
@keyframes appear {
    0%{
        opacity: 0%;
    }
    50%{
        opacity: 80%;
    }
    100%{
        opacity: 100%;
    }
}
.nav:hover{
    color: rgb(240, 73, 23);
    background-color: rgba(255, 252, 102, 0.637);
}
.nav{
    text-decoration-line: none;
    color: rgb(255, 241, 47);
    background-color: rgba(241, 25, 97, 0.863);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 8px;
    margin: 15px;
    box-shadow: 2px 2px cornflowerblue;
    /* border-style: ridge; */
    border-radius: 15px;
    /* margin-bottom: ; */
}

#contact{
    background-color: rgba(233, 150, 122, 0.459);
    padding: 30px;
    height: 300px;
    /* height: fit-content; */
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
}

#contactForm{
    margin-left: 20px;
    border-left: gold 2px solid;
    padding: 5px;
    /* position: absolute; */
    padding-left: 40px;
    /* width: fit-content;
    height: fit-content; */
    float: left;
}
section{
    margin: 50px;
}
#navHid{
    z-index: 20;
    top: 0px;
    position: sticky;
}
.icon{
    width: 3%;
}
label>span{
    color: rgb(35, 11, 110);
    text-decoration-line: underline;
    text-decoration-style: dotted;
}
label>input{
    outline: none;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    color: brown;
    background-color: inherit;
    border-bottom: 2px blue solid;
    padding: 2px;
}
input{
    font-size: 17px;
}
#msg{
    color: rgb(0, 60, 255);
    position: absolute;
    /* padding-bottom: 10px; */
    padding: 2px;
    border-radius: 5px;
    box-shadow: 2px 2px 3px 3px aqua;
    margin-left: -15px;
    margin-top: -15px;
    /* margin-bottom: 20px;  */
}
#submit:hover{
    background-color: khaki;
}
#submit{
    border: none;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 1px 1px 2px 2px rgb(255, 217, 0);
    color: rgb(235, 21, 5);
    background-color: rgba(255, 255, 0, 0.479);
}
#quote1{
    padding: 35px;
    border-radius: 10px;
    background-color: rgba(255, 255, 0, 0.342);
}
#open{
    margin-top: 15px;
    width: fit-content;
}
#click{
    margin-top: 20px;
}
@media screen and (min-width:1120px) {
body{
    font-size:26px;
}

#profile{
    height: 8em;
    width: 7.6em;
    margin-left: 80px;
}
#About_Me{
    margin-left: 80px;
    margin-right: 120px;
}
#skills{
    margin-right: 10%;
    margin-left: 10%;
    font-size: 1.1em;
    /* padding-right: 5em; */
}
}
@media screen and (min-width:1250px){
    #contactForm{
        margin-left: 100px;
      }
      input{
          font-size: 20px;
      }
}
@media screen and (max-width:975px){
    #contact{
       height: 450px;
       /* width: 600px; */
       /* margin-left: 60px; */
    }
}
@media screen and (max-width:680px) {
    body{
        font-size: 18px;
    }
    .icon{
        width: 8%;
    }
    #skills> header{
        font-size: 30px;
        text-shadow: rgb(9, 3, 98) 2px 2px;
    }
    #skills{
        margin-left: -23px;
        /* background-image: url("img/skills.jpg"); */
        /* width: 390%; */
        padding: 0px;
        padding-top: 20px;
        padding-bottom: 20px;
        background-blend-mode:soft-light;
        background-size: contain; 
        width: 110%;  
    }
    .border>b{
        font-size: 23px;
        font-weight: bold;
        text-shadow: 1px 1px rgb(241, 238, 53);
        /* color: turquoise; */
    }
    .border{
        font-size: 20px;
        /* text-shadow: 1px 1px yellow;   */
        width: fit-content;
        margin: 10px;
        background-color: rgba(15, 163, 221, 0.479);
        /* padding: 0; */
        /* display: flex; */
    }
    #About_Me{
        margin-left: 0;
        margin-right: 0;
    }
    #profile{
        /* margin-right: 0; */
       margin-bottom: 8px;
        margin-left: 0;
        float: none;
    }
    .nav{
        margin-top: 1px;
        margin-bottom: 15px;
    }
    nav{
        /* position: fixed; */
        display: flex;
        z-index: 12;
        padding-bottom: 1px;
        margin-bottom: -40px;
        flex-wrap: wrap;
    }
   
  #contact{
      width: 95%;
      margin: auto;
      margin-left: -12px;
      height: 520px;
      padding: auto;
      background-image: url("img/contact.jpg");
      background-size: contain;
  }
#msg{
    margin:auto;
    margin-left: -50px;
    margin-top: -15px;
}
#quote1>header{
    font-size: 20px;
    
}
#quote1{
    width: 90%;
    /* margin: auto; */
    margin-left: -18px;
}
}
#show{
    /* width: 200em; */
    font-size: 50px;
    position: fixed;
    top: 0;
    right: 20px;
    background-color: inherit;
    border: none;
    border-radius: 20px;
    color: rgb(87, 87, 221);
    z-index: 15;
}
#close{
    position: fixed;
    top: 0;
    background-color: inherit;
    right: 20px;
    border-radius: 20px;
    margin-top: 90px;
    z-index: 21;
    font-size: 30px;
   border: none;
}
#show:hover{
    background-color: rgba(134, 134, 139, 0.219);
    margin: 2px;
    /* padding: 10px; */
   padding: 5px;
   border-radius: 30px;
}
#close:hover{
    border-radius: 20px;
    padding: 5px;
    background-color: rgba(255, 0, 0, 0.267);
}
nav{
    font-size: 22px;
}
.nav1{
    background-color: rgb(221, 38, 38);
}
footer{
    margin-top: 6%;
    padding: 0px;
}
#html,#CSS,#javaScript,#j,#nodeJs,#cprogramming{
    /* background: url('img/html5.png') ; */
    /* background-repeat: no-repeat;
    background-size: cover;
    background-position:center; */
    position: absolute;
    /* z-index: 5; */
    /* overflow: hidden; */
    width: 50%;
    margin-left: 10%;
    display: flex;
    z-index: -1;
    opacity: 0.5;
    border-radius: 10%;
    height:18% 
    /* background-repeat: no-repeat; */
}
.icon:hover{
    padding: 3px;
    border-radius: 25%;
    opacity: 0.5;
    background-color: rgb(217, 243, 243);
}
#j{
    height: 27%;
}
#nodeJs{
    height: 14%;
}
#CSS{
    opacity: 0.3;
}
#trans{
    /* background-color: rgba(122, 226, 226, 0.568); */
    /* z-index: 10; */
    text-shadow: wheat 0.5px 0.5px;
    font-style: oblique;
    font-weight: 600;
    color: rgb(0, 41, 107);
}

.ch1 {
    margin-right: auto;
    margin-left: auto;
    background-color: coral;
    padding: 20px 15px;
    font: 15px Arial;
    color: rgb(34, 75, 151);
    border-radius: 10px;
    max-width: 700px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 4%;
    box-shadow: 10px 10px 1px 1px rgb(255, 225, 89);
    text-align: center;
}

.ch1 h1 {
    font: bold;
    display: block;
    background-color: gold;
    padding: 10px 0px 5px 10px;
    text-align: center;
    margin: -20px -20px 0px -20px;
    border-bottom: 1px solid grey;
    border-radius: 5%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 50px;
    color: rgb(22, 190, 202);
    text-shadow: 3px 2px rgb(240, 63, 51);
}

.ch1 h1>span {
    display: block;
    color: red;
    font-size: medium;
    text-shadow: none;
}

.ch1 label {
    display: block;
    margin: 10px;
}

.ch1 label>span {
    float: left;
    margin-top: 5px;
    color: rgb(8, 99, 202);
    font-weight: 548;
    font-size: 25px;
    text-decoration-line: underline;
    text-shadow: 1px 1px crimson;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    padding-bottom: 5px;
}

.ch1 input[type="text"],
.ch1 input[type="number"],
.ch1 input[type="email"],
.ch1 textarea,
.ch1 select {
    color: rgb(228, 84, 68);
    width: 100%;
    height: 25px;
    font-size: large;
    font-weight: bold;
    border: none;
    border-radius: 10%;
    background: azure;
    box-shadow: 5px 5px 1px 1px rgb(255, 182, 182);
}

.ch1 textarea {
    height: 100px;
    padding-top: 10px;
    font-size: 20px;
}

.ch1 select {
    height: 30px;
}

.ch1 .submit {
    background-color: rgb(74, 183, 197);
    border-radius: 5px;
    border: none;
    padding: 8px;
    font-weight: bolder;
    color: darkblue;
    font-size: 15px;
    margin-top: 10px;
    /* margin-left: 44%; */
    margin-bottom: -25px;
    font-size: 18px;
    width: 10%;
    font-weight: 2000;
    border-radius: 20%;
    box-shadow: 5px 5px crimson;
    font-family: monospace;
    margin-left: 280px;
    margin-bottom: -15px;
}

.submit:active {
    box-shadow: 2px 2px crimson;
    transform: translateX(3px) translateY(3px);
}

.ch1 .submit:hover {
    color: rgb(150, 39, 19);
}

textarea,
input,
select {
    outline: none;
}

#invalid,
#invalid1 {
    font-size: medium;
    font-weight: bold;
}

.message {
    display: block;
    top: 30%;
    left: 50%;
    margin-left: -210px;
    width: 400px;
    height: 25%;
    border-radius: 25%;
    position: fixed;
    box-shadow: 8px 8px 5px 6px greenyellow;
    background-color: rgb(248, 252, 201);
    animation: comein 1s ease 0s;
}
.message h2 {
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    color: rgb(241, 109, 21);
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
    text-decoration-line: underline;
}

.message p ,.message2 p {
    font-size: larger;
    font-family: cursive;
    color: indianred;
    margin-left: 1px;
}

.done,
.back {
    border: none;
    font-size: large;
    box-shadow: 1px 1px crimson;
    font-weight: bold;
    color: darkblue;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
    border-radius: 15%;
    padding: 5px;
}

.back {
    margin-left: 60px;
}

.done:hover {
    background-color: aqua;
}

.back:hover {
    background-color: aqua;
}

.done {
    background-color: greenyellow;
}
.message1{
    display: block;
    top: 30%;
    left: 50%;
    margin-left: -210px;
    width: 400px;
    height: 25%;
    border-radius: 25%;
    position: fixed;
    box-shadow: 8px 8px 5px 6px greenyellow;
    background-color: rgb(248, 252, 201);
    animation: leave 1s ease-out 0s;
    visibility: hidden;
}

.message2{
    display: block;
    top: 30%;
    left: 50%;
    margin-left: -210px;
    width: 200px;
    height: 12%;
    border-radius: 25%;
    position: fixed;
    box-shadow: 8px 8px 5px 6px rgb(255, 47, 47);
    background-color: rgb(252, 201, 201);
}
.message3{
    display: block;
    top: 30%;
    left: 50%;
    margin-left: -210px;
    width: 200px;
    height: 12%;
    border-radius: 25%;
    position: fixed;
    box-shadow: 8px 8px 5px 6px rgb(255, 47, 47);
    background-color: rgb(252, 201, 201);
    animation: leave 1s ease-out 0s;
    visibility: hidden;
}

.back {
    background-color: khaki;
}

@keyframes comein {
    0% {
        top: 80%;
        opacity: 10%;
    }

    100% {
        top: 30%;
        opacity: 100%;
    }
}
@keyframes leave {
    0%{
        top: 30%;
        opacity: 50%;
        visibility: visible;
    }
    100%{
        top: 80%;
        opacity: 0%;
        visibility: visible;
    }
}

@media screen and (max-width: 650px) {
    .message ,.message1{
        margin-left: none;
        left: 70%;
        height: 25%;
        width: 270px;
    }
    .message2, .message3{
        left: 300px;
    }

    .message h2  {
        font-size: 25px;
    }

    .message p , .message2 p{
        font-size: 20px;
    }
    .ch1 .submit{
        margin-left: 150px;
        width: fit-content;
    }

    .done,
    .back {
        font-size: 20px;
        margin-left: 15px;
    }
}
.view{
    background-color: rgba(255, 197, 88, 0.897);
    color: rgb(34, 108, 226);
    border-radius: 10px;
    box-shadow: 2px 2px crimson;
    padding: 3px;
    padding-top: 1px;
    /* float: right; */
    /* position: absolute; */
    text-decoration: none;
    /* margin-top: 20px; */
    /* margin-right: 16px; */
}
.formImg, .notesImg{
    float: right;
    width: 15%;
    border-radius: 40%;
    margin-top: -12px;
    height: 100px;
}
.notesImg{
    float: left;
    border-radius: 20%;
    margin-top: -2px;
    margin-right: 10px;
}